body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
    transition: background-color 2s;
}


#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;
    animation: box2move 8s infinite alternate;
}

@keyframes box2move{
    from {
        margin-left: 0%;
    }

    50% {
        margin-left: 75%;
        margin-top: 10%;
        background-color: khaki;
        color: khaki;
    }

    to {
        margin-left: 0%;
        margin-top: 20%;
        background-color: rgb(17, 96, 17);
        color: white;
    }
}

#box1:hover {
    background-color: purple;
}