body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

.topcardleft{
    display:flex;
    height:20vh;
    width: 50%;
    background-color: rgb(221, 161, 94);
}

.topcardright{
    display:flex;
    height:20vh;
    width:50%;
    background-color: rgb(188, 108, 37);
    float: right;
}

.topcardright img{
    margin: 0.5%;
    position: absolute;
    float: right;
    right: 0;
    height: 18.2vh;
    width: 28vh;
}

.topcardleft p{
    font-size:7vw;
    margin-top:2vh;
    margin-left:1vw;
    white-space:nowrap;
}

body{
    background-color: rgb(254, 250, 224)
}

/* COLOR KIT:
Tiger Eye: 188, 108, 37
Earth Yellow: 221, 161, 94
Corn Silk: 254, 250, 224
Pakistan Green: 40, 54, 24
Dark Moss Green: 96, 108, 56
*/

