body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    background-color: rgb(254, 250, 224)
}

.topcardleft{
    display:flex;
    height: 11.5vw;
    width: 50%;
    background-color: rgb(221, 161, 94);
}

.topcardright{
    display:flex;
    height:11.5vw;
    width:50%;
    background-color: rgb(188, 108, 37);
    float: right;
}

.topcardright img{
    margin: 1%;
    height: 10vw;
    width: 10vw;
    position: absolute;
    right: 0;
}

.topcardleft p{
    font-size:7vw;
    margin-top:2vh;
    margin-left:0.8vw;
    position: center;
    white-space:nowrap;
}

.topcardright ul{
    position: absolute;
    font-size: 1.25vw;
    max-width: 25vw;
    line-height: 2vw;
    left: 50vw;
}

@media (max-width: 500px){
    .topcardleft, .topcardright{height:24vw;}
    .topcardright ul{left: 44vw;font-size:2.3vw;max-width:28vw;line-height:3vw;}
    .topcardright img{height:14vw;width:14vw;}
}

#grid-parent{
    display: grid;
}

#grid-parent div{
    background-color: rgb(96, 108, 56);
    padding:2vw 2vw;
    margin:3vw;
    height: 20vh;
    font-size: 2vw;
    color: rgb(40, 54, 24);
    transition-duration: 1s;
}

@media (max-width: 500px){
    #grid-parent-div{
        height:24vh;
    }
}

#grid-parent p, #grid-parent li{
    font-size: 1.25vw;
    color: rgb(254, 250, 224);
}

#cell1{grid-row-start: 1;}

#cell2{grid-row-start: 2;}

#cell3{grid-row-start: 3;}

#cell4{grid-row-start: 4;list-style-type: none;word-spacing: 35vw;line-height:2vw;}

#cell5{grid-row-start: 5;grid-column-start: 1;}

#cell3 img{padding-right:8%;padding-left:8%}

#cell4 img{width: 4%; height: 4%;}

#cell5 img{width:8%; height: 8%;padding-right:8%;padding-left:8%}

#cell1:hover, #cell2:hover{width:97vw;height:85vh;padding:0.5vw;margin:1vw;font-size:2.85vw;}

#cell1:hover p{font-size:2.85vw;} /* makes the child's font size increase when parent is hovered */

#cell2:hover p{font-size:3vw;} /* makes the child's font size increase when parent is hovered */

@media (max-width: 500px){
    #grid-parent h1{font-size: 4vw;}
    #grid-parent p, #grid-parent li{font-size: 2.4vw;}
    #cell3 img{width:16%; height: 16%;padding-right:4%;padding-left:4%}
    #cell4{line-height:4vw;}
    #cell4 img{width:10%;height:10%;}
    #cell5 img{width:16%; height: 16%;padding-right:4%;padding-left:4%}
    #cell1:hover, #cell2:hover{height:75vh;padding:0.5vw;margin:1vw;}
    #cell1:hover p{font-size:4.85vw;}
    #cell2:hover p{font-size:4.85vw;}
}

/* COLOR KIT:
Tiger Eye: 188, 108, 37
Earth Yellow: 221, 161, 94
Corn Silk: 254, 250, 224
Pakistan Green: 40, 54, 24
Dark Moss Green: 96, 108, 56
*/

