/* General page styles */
body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #ccc;
  }

  h2, p {
    margin: 0;
  }

  h2 {
    font-size: 1.25em;
    line-height: 1em;
    padding: 0.3em;
  }

  /* General card style elements */ 
  .card {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: red;
    border: 0.2em solid black;
    border-radius: 1.5em;
  }

  .aidan_card {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: aquamarine;
    border: 0.2em solid black;
    border-radius: 1.5em;
  }
  

  /* Header footer attributes */
  .card header {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(255, 255, 255, 0));
    border-radius: 1.5em 1.5em 0 0;
  }
  
  .card footer {
    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0), rgba(0,0,0,0.1));
    border-radius: 0 0 1.5em 1.5em;
    font-size: 1.5em;
    line-height: 1.2em;
    padding: 0.3em;
  }

  .card header, .card footer{
    height: 3.5em;
    content: 5.875em;
    padding: 0.675em, 0.675em, 0.675em, 0.675em;
  }

  /* Image attributes */
  .card article img {
    max-height: 100%;
    float: right;
  }

  article {
    height: 13em;
    background-color: rgba(0,0,0,0.1);
    color: white;
    padding: 0.3em;
    line-height: 1.7em;
    font-size: 0.9375em;
  }

  /* Header footer attributes */
  .aidan_card header {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(255, 255, 255, 0));
    border-radius: 1.5em 1.5em 0 0;
  }
  
  .aidan_card footer {
    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0), rgba(0,0,0,0.1));
    border-radius: 0 0 1.5em 1.5em;
    font-size: 1.5em;
    line-height: 1.2em;
    padding: 0.3em;
  }

  .aidan_card header, .aidan_card footer{
    height: 3.5em;
    content: 5.875em;
    padding: 0.675em, 0.675em, 0.675em, 0.675em;
  }

  /* Image attributes */
  .aidan_card article img {
    max-height: 100%;
    float: right;
  }