body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 221, 246);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 12px;
}
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: crimson;
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:rgb(168, 57, 172);
    transition: color 1s;
}

#nav2{background-color: yellow;}
#nav3{background-color: green;}
#nav4{background-color: blue;}
#nav5{background-color: purple;}

img{
    width: 30%;
    height: 30%;
}

.balls{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
}

#red-ball{
    background-color: crimson;
    left:49%;
    top:60%;
}

#blue-ball{
    background-color: blue;
    left:40%;
    top:60%;
    animation: ballbounce 1s infinite alternate;
}

#yellow-ball{
    background-color: yellow;
    left:58%;
    top:60%;
    animation: ballbounce 1s infinite alternate;
}

#red-ball:hover{
    animation: ballbounce 1s infinite alternate;
}

nav a:hover{
    color: white;
    font-size: 15px;
}

@keyframes ballbounce{
    from{top:60%; width: 50px; height: 10px;}
    30%{width: 20px; height: 20px;}
    to{top:50%;}
}