body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(254, 250, 224);
    width: 650px;
    color: rgb(40, 54, 24);
    font-size:25px;
  }

  label {
    font-weight: bold;  
  }

  div {
    padding-bottom: 20px;
  }

  input[type="text"] {
    padding: 5px;
    width: 150px;
  }

  p {
    background: rgb(96, 108, 56);
    color: rgb(253, 255, 222);
    padding: 10px;
    visibility: hidden;
  }