html {
    background-color: aqua;
}

.first{
    color: red;
}

#title {
    font-size: 500%;
}

a:link{
    font-size: 100%;
    color: burlywood;
}

a:hover{
    font-size: 200%;
    color: greenyellow;
}

.div {
    background-color: chartreuse;
}