body {
    background-color: beige;
}

#box1 {
    border-style:solid;
    width: 40vw;
    height: 33vh;
    border-color:rgba(20, 250, 173,10);
    border-width: 3px;
    border-radius:10px;
    background-color: mediumseagreen;
    position:relative;
}

#box2 {
    width: 73vw;
    height: 33vh;
    border-style: solid;
    border-radius:3px;
    left: 55vw;
    border-color:purple;
    position: relative;
    background-color: mediumvioletred;
}

#box3 {
    position: sticky;
    width: 73vw;
    height: 175vh;
    border-radius: 10px;
    background-color: orangered;
}

#text1 {
    left: 120%;
    position: relative;
}

#text2 {
    bottom: 0%;
    left: 0%;
    position: absolute;
}

#text3 {
    position: sticky;
    top: 0%;
    font-size: 50px;
}